li {
  margin: 15px 60px 15px 0;
  text-decoration: none;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
}